.weather {
    border: 1px solid #dadde1;
    border-radius: 5px;
    background-image: url(../images/wallpaper.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    padding: 10px;
    max-width: 580px;
    font-family: 'Orbitron', sans-serif;
}

.search-bar {
    margin-bottom: 20px;
    align-items: center;
}

.submit-btn {
    background-color:#ffff;
    border-radius: 3px;
    
}

.weather-main{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
    font-weight: 600;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    
}

.weather-main .temperature {
    font-size: 32px;
}

.weather-main .unit {
    position: relative;
    
    font-size: 16px;
    text-align: left;
    user-select: none;
}

.weather-main img {
    display: block;
}

.weather-main a {
    text-decoration: none;
    color: #fff;
    
}

.weather-main li {
    list-style: none;
   text-align: center;
}

.weather h1 {
    margin: 10px;
    font-size: 45px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    filter: drop-shadow(0 1px 3px);
}


.weather-extra li {
    list-style: none;
    font-weight: 100;
}

.weather-current {
    display: flex;
    gap: 2px;
}

.WeatherForecast {
    font-size: 15px;
}